*{
    padding: 0px;
    margin: 0px;
    font-family: Bebas Kai;
}
html,body{
    height: 100%;
    background: black;
}
#label{
    text-align: center;
    padding: 20px;
    font-size: 80px;
    color: white;
    text-shadow: -4px 4px 5px #FF5733;
    letter-spacing: 8px;
}
button{
    width: 105px;
    padding: 3px;
    border: none;
    background: white;
    border-radius: 8px;
    cursor: pointer;
}
button:hover{
    background: black;
    color: white;
    transition: 0.3s;
}


/* _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_INDEX.HTML_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */

/* NAVIGATION BAR */

.navbar{
    position: sticky;
    top: 0px;
    width: 100%;
    height: 80px;
    background: rgba(0, 0, 0, 0.89);
    box-shadow: 0 2px 6px;
}
label.logo{
    font-family: Bebas Kai;
    color: white;
    font-size: 55px;
    letter-spacing: 3px;
    line-height: 80px;
    padding-left: 30px;
    font-weight: bold;
}
nav ul{
    float: right;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    font-family: Bebas Kai;
    color: white;
    text-decoration: none;
    font-size: 25px;
    padding: 7px 13px;
    border-radius: 5px;
    text-transform: uppercase;
}
a:hover{
    color: #FF5733;
    transition-duration: 0.5s;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    padding-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

/* ---------------------------- OPENING -----------------------------------------  */

.opening{
    padding-top: 20px;
    display:flex;
    justify-content: center;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 10px;
    color: white;

    background-image: url('Images/Hero_F.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
.open_box{
    margin-left: 0px;
    width: 300px;
    height: 110px;
    padding: 30px;

    background: rgb(0, 0, 0,0.8);
    box-shadow: 0px 3px 8px black;
    border-radius: 20px;
}
.open_box h1{
    text-shadow: -4px 4px 5px #FF5733;
}
.open_box h2{
    margin-top: 20px;
}
.open_box button{
    margin-top: 10px;
    margin-left: 220px;
}

/*--------------------------- SERVICES ----------------------------------- */

.services{
    background: linear-gradient(to right, #1f1f1f , #000000);
    min-height: 100vh;
}
.services h1{
    margin-top: 20px;
}
.services .serviceflex .servicesbox{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 160px;
    row-gap: 60px;
}
.services .demigod{
    background: #000000;
    color: white;
    box-shadow: -0.1px -1px 30px 1px #FF5733;
    max-width: 900px;
    min-width: 160px;
    text-align: justify;
    padding: 30px;
    margin: 20px 20px 5px 20px;
    border-radius: 8px;
    animation: mymove 3s infinite linear ;
}
.services .demigod .highlight{
    color: #FF5733;
}
.services .one{
    background: #000000;
    color: white;
    box-shadow: -0.1px -1px 30px 1px #FF5733;
    max-width: 900px;
    min-width: 160px;
    text-align: justify;
    padding: 30px;
    margin: 20px 20px 5px 20px;
    margin-bottom: 40px;
    border-radius: 8px;
    animation: mymove 3s infinite linear;
}
@keyframes mymove {
    50% {box-shadow:-0.1px -1px 1px 1px #FF5733;}
}
.services .one .highlight{
    color: #FF5733;
}
.services h3{
    padding-bottom: 25px;
    text-align: center;
    font-size: 40px;
}
.services p{
    text-align: justify;
    font-size: 21px;
}
.services .btn{
    text-align: center;
    margin-top: 25px;
}
.services .btn button{
    border: solid 2px;
    border-radius: 8px;
    background: black;
    color: white;
}
.services .btn button:hover{
    background: white;
    color: black;
    transition: 0.4s;
}


/*---------------------- ABOUT ME ---------------------------*/

.about{
    margin-top: 20px;
    background: linear-gradient(to left, #1f1f1f , #000000);
    color: white;
    min-height: 100%;
}
.about #label{
    padding-top: 70px;
    padding-bottom: 80px;
}
.about .appear{
    display: none;
}
.about .aboutflex{
    display: flex;
    justify-content: space-around;
    gap: 30px;
    padding: 40px;
}
.about .aboutflex .flex-child{
    font-size: 30px;
    align-items: center;
    
}
.about .aboutflex .flex-child #break{
    padding-bottom: 13px;
}
.about h1{
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 60px;
    letter-spacing: 5px;
    color: #FF5733;
    text-shadow: -1px 1px 1px white;
    text-align: center;
}
.about img{
    margin: 25px;
    margin-bottom: 80px;
    height: 50%;
    width: 50%;
    display: block;
    border-radius: 30px;
    border: solid 2px;
}
.about .content{
    padding-bottom: 40px;
}
.about .content #border{
    font-size: 23px;
    margin: 20px auto;
    width: 50vw;
    text-align: center;
    border: solid #FF5733;
    border-radius: 4px;
}
.about .content p{
    padding: 13px 30px;
    text-align: justify;
    font-family: Merriweather;
    text-transform: capitalize;
    font-size: 21px;
}


/*------------------------- CONTACTS -----------------------------*/

.contacts{
    width: 100%;
    position: relative;
    bottom: 0px;
    height: 120px;
    background: rgb(0, 0, 0, 1);
    color: white;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.contacts .social{
    padding: 10px 20px;
    display: flex;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
}
.contacts .social .icons{
    width: 60px;
    display: flex;
    justify-content: space-between;
}
.contacts h3{
    margin-left: 20px;
    padding: 20px;
    font-size: 30px;
}
.contacts a{
    color: white;
}
.contacts .social .email{
    font-family: Merriweather;
    font-size: 10px;
    text-transform: lowercase;
}
/* _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_INDEX.HTML_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */




/* ------------------------ RESPONSIVENESS ----------------------------*/

@media (max-width: 920px){
    .navbar{
        position: sticky;
        top: 0px;
    }
    label.logo{
        font-size: 50px;
        padding-left: 40px;
    }
    .checkbtn{
      display: block;
    }
    .navbar ul{
      position: fixed;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.94);
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 35px;
    }
    a:hover{
        color: #FF5733;
    }
    #check:checked ~ ul{
      left: 0;
    }
    .opening{
        padding-top: 20px;
        display:flex;
        justify-content: center;
        background-image: url('Images/Hero_4.jfif');
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;
    }
    .open_box{
        margin-top: 0%;
        width: 300px;
        margin-left: 0px;
    }
    .open_box h1{
        font-size:30px;
        text-align: center;
    }
    .about .aboutflex .flex-child{
        display: none
    }
    .about .aboutflex img{
        height: 100%;
        width: 100%;
        margin: 0 auto 40px auto;
    }
    .about .appear{
        display: block;
    }
    .about .appear p{
        padding: 0 30px;
        font-size: 25px;
        text-align: center;
    }
    .about .content p{
        font-size: 18px;
    }
}

@media (max-width: 480px){
    .navbar{
        position: sticky;
        top: 0px;
    }
    label.logo{
        font-size: 28px;
        letter-spacing: 1.5px;
    }
    .checkbtn{
      display: block;
    }
    .navbar ul{
      position: fixed;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.94);
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
        font-size: 35px;
    }
    a:hover{
        color: #FF5733;
    }
    #check:checked ~ ul{
      left: 0;
    }
    .opening{
        display:flex;
        justify-content: center;
        background-image: url('Images/Hero_4.jfif');
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;
    }
    .open_box{
        margin-top: 5%;
        width: 160px;
        height: 160px;
    }
    .open_box button{
        margin-top:10px;
        margin-left: 80px;
    }
    .open_box h1{
        font-size:30px;
        text-align: center;
    }
    .open_box h2{
        font-size: 20px;
    }
    .contacts h3{
        font-size: 20px;
    }
}