*{
    padding: 0px;
    margin: 0px;
    font-family: Bebas Kai;
}
html,body{
    height: 100%;
    background: black;
}
#label{
    text-align: center;
    padding: 20px;
    font-size: 60px;
    color: white;
    text-shadow: -4px 4px 5px #FF5733;
}
button{
    width: 105px;
    padding: 3px;
    border: none;
    background: white;
    border-radius: 8px;
    cursor: pointer;
}
button:hover{
    background: black;
    color: white;
    transition: 0.3s;
}


/* _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_INDEX.HTML_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */

/* NAVIGATION BAR */

.navbar{
    position: sticky;
    top: 0px;
    width: 100%;
    height: 80px;
    background: rgba(0, 0, 0, 0.89);
    box-shadow: 0 2px 6px;
}
label.logo{
    font-family: Bebas Kai;
    color: white;
    font-size: 47px;
    line-height: 80px;
    padding-left: 10px;
    font-weight: bold;
}
nav ul{
    float: right;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    font-family: Bebas Kai;
    color: white;
    text-decoration: none;
    font-size: 25px;
    padding: 7px 13px;
    border-radius: 5px;
    text-transform: uppercase;
}
a:hover{
    color: #FF5733;
    transition-duration: 0.5s;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    padding-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

/* ---------------------------- OPENING -----------------------------------------  */

.opening{
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 10px;
    color: white;

    background-image: url('Images/Hero_F.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
.open_box{
    margin-top: 20%;
    margin-left: 30px;
    width: 320px;
    height: 120px;
    padding: 30px;
    padding-bottom: 40px;

    background: rgb(0, 0, 0,0.8);
    box-shadow: 0px 3px 8px black;
    border-radius: 20px;
}
.open_box h1{
    text-shadow: -4px 4px 5px #FF5733;
}
.open_box h2{
    margin-top: 20px;
    
}
.open_box button{
    margin-top: 10px;
    margin-left: 220px;
}

/*--------------------------- SERVICES ----------------------------------- */

.services{
    background: linear-gradient(to right, #2e2e2e , #000000);
    min-height: 100vh;
}
.services h1{
    margin-top: 20px;
}
.services .serviceflex .servicesbox{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 160px;
    row-gap: 60px;
}
.services .demigod{
    background: #000000;
    color: white;
    box-shadow: -0.1px -1px 30px 1px #FF5733;
    max-width: 1000px;
    min-width: 160px;
    text-align: justify;
    padding: 30px;
    margin: 20px;
    border-radius: 8px;
    animation: mymove 3s infinite linear ;
}
.services .one{
    background: #000000;
    color: white;
    box-shadow: -0.1px -1px 30px 1px #FF5733;
    max-width: 1000px;
    min-width: 160px;
    text-align: justify;
    padding: 30px;
    margin: 20px;
    margin-bottom: 40px;
    border-radius: 8px;
    animation: mymove 3s infinite linear;
}
@keyframes mymove {
    50% {box-shadow:-0.1px -1px 1px 1px #FF5733;}
}
.services h3{
    padding-bottom: 25px;
    text-align: center;
    font-size: 25px;
}
.services p{
    text-align: justify;
}
.services .btn{
    text-align: center;
    margin-top: 25px;
}
.services .btn button{
    border: solid 2px;
    border-radius: 8px;
    background: black;
    color: white;
}
.services .btn button:hover{
    background: white;
    color: black;
    transition: 0.4s;
}


/*---------------------- ABOUT ME ---------------------------*/

.about{
    background: linear-gradient(to right, #2e2e2e , #000000);
    color: white;
    min-height: 100%;
}
.about #label{
    padding-top: 30px;
}
.about p{
    padding: 0 30px;
    margin: 20px;
    text-align: justify;
}
.about img{
    float: right;
    height: 15%;
    width: 15%;
    border: 2px solid white;
    margin: 45px 0px 15px 10px;
}
.about .aboutbutton{
    display: flex;
    justify-content: right;
}
.about button{
    margin-bottom: 20px;
    margin-right: 50px; 
}

/*------------------------- CONTACTS -----------------------------*/

.contacts{
    position: relative;
    bottom: 0px;
    bottom: 0px;
    height: 70px;
    background: rgb(0, 0, 0, 0.9);
    color: white;
    display: flex;
    justify-content:space-between
}
.contacts .social{
    width: 100px;
    padding: 20px;
    display: flex;
    justify-content:space-between;
}
.contacts h3{
    margin-left: 20px;
    padding: 20px;
}




/* _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_INDEX.HTML_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */





/* _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ABOUT_ME.HTML_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */

.aboutme{
    background:linear-gradient(to right,#333333 0.1%, black 99%);
    color: white;
    min-height: 700px;
    max-height: fit-content;
}
.aboutme h1{
    padding: 40px 20px 0 20px;
    text-align: center;
}
.aboutme h3{
    padding: 0px;
    margin-bottom: 40px;
    text-align: center;
}
.aboutme p{
    padding: 0 30px;
    margin: 20px;
    text-align: justify;
}

/* _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ABOUT_ME.HTML_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */





/* _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_SERVICES.HTML_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */

.services{
    padding: 10px 30px;
    min-height: 100%;
}
#s{
    color: white;
}
.services h1{
    text-align: center;
    padding: 20px;
}
.jotform{
    display: flex;
    justify-content: center;
}
.jotform a{
    margin: 60px;
    align-items: center;
    font-size: 40px;
    padding: 10px 40px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    background: linear-gradient(#FF5733,#ff7b00);
    box-shadow: -10px 10px 40px black;
    text-decoration: none;
    text-transform: uppercase;
}
.jotform a:hover{
    color: black;
    background: linear-gradient(#ff7b00,#FF5733);
    transition-duration: 0.5s;
}

/* _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_SERVICES.HTML_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */


/* ------------------------ RESPONSIVENESS ----------------------------*/

@media (max-width: 920px){
    .navbar{
        position: sticky;
        top: 0px;
    }
    label.logo{
        font-size: 50px;
        padding-left: 40px;
    }
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.94);
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 35px;
    }
    a:hover{
        color: #FF5733;
    }
    #check:checked ~ ul{
      left: 0;
    }
    .opening{
        padding-top: 20px;
        display:flex;
        justify-content: center;
        background-image: url('Images/Hero_4.jfif');
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;
    }
    .open_box{
        margin-top: 0%;
        width: 300px;
        margin-left: 0px;
    }
    .open_box h1{
        font-size:30px;
        text-align: center;
    }
}

@media (max-width: 480px){
    .navbar{
        position: sticky;
        top: 0px;
    }
    label.logo{
        font-size: 25px;
        padding-left: 40px;
    }
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.94);
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
        font-size: 35px;
    }
    a:hover{
        color: #FF5733;
    }
    #check:checked ~ ul{
      left: 0;
    }
    .opening{
        display:flex;
        justify-content: center;
        background-image: url('Images/Hero_4.jfif');
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;
    }
    .open_box{
        margin-top: 10%;
        width: 160px;
        height: 160px;
    }
    .open_box button{
        margin-top:10px;
        margin-left: 80px;
    }
    .open_box h1{
        font-size:30px;
        text-align: center;
    }
    .open_box h2{
        font-size: 20px;
    }
}